:root {
  --primary: #050115;
  --error-color: #0dcaf0;
}
.error {
  color: var(--error-color);
}
body {
  background-color: var(--primary);
  color: #fff;
  font-family: cursive;
}
.f1 {
  flex: 1;
}
h4 {
  word-break: break-all;
}
.c-pointer {
  cursor: pointer;
}
.meme-image-container {
  height: 400px;
  object-fit: contain;
  border: 1px solid #a80000;
}
.sug-meens-cont {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.sug-meens-cont::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
.sug-meens-cont::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sug-meens-cont::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

/* Handle on hover */
.sug-meens-cont::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sug-box {
  overflow: hidden;
  min-width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 12px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 0 12px #ddd;
}
.sug-box:hover {
  transform: scale(1.1);
}

.popup-input {
  margin: 6px 0;
  font-size: 1.4rem;
}
.popup-input:focus {
  outline: none;
}
.addTitle {
  border: none;
  border-radius: 8px;
  width: 25px;
  height: 25px;
  margin-left: auto;
  display: block;
  color: #fff;
  font-weight: bold;
  background: var(--primary);
}

/* loading */
.spinner {
  width: 10em;
  height: 10em;
  border-top: 1em solid #050115;
  border-right: 1em solid transparent;
  animation: spinner 0.4s linear infinite;
  border-radius: 50%;
  margin: auto;
}
.head {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-left: 8.5em;
  margin-top: 0.5em;
  background-color: #d5fff7;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.titles-length {
  position: absolute;
  left: 8px;
  top: -30px;
  color: #ffffff;
  background-color: rgb(0 136 242);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button */
.btn-container button {
  margin-left: auto;
}
.myBtn {
  background-color: var(--primary);
}

/* sidebar */
.sidebar {
  border: 1px solid var(--error-color);
  box-shadow: 0 0 12px #78777c;
  width: 100%;
  position: fixed;
  color: #fff;
  background-color: var(--primary);
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.9s cubic-bezier(0.72, 1.74, 0.64, 0.79);
  transform: translateX(100%);
}
.showSidebar {
  transform: none;
}
.sidebar-header {
  border-bottom: 1px solid #0dcaf0;
}
.closeBtn {
  width: 20px;
  height: 20px;
  display: block;
  stroke-width: 4;
  stroke: #ff7676;
  stroke-miterlimit: 10;
  margin: 10% auto;
  transition: stroke 0.3s ease-in;
  box-shadow: inset 0px 0px 0px #7ac142;
  cursor: pointer;
}

/* color picker */
#colorPicker {
  position: relative;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  width: 100px;
  height: 20px;
  border: 1px solid rgb(92 86 116);
}

#colorPicker::-webkit-color-swatch {
  border: none;
  padding: 0;
}
#colorPicker::-webkit-color-swatch-wrapper {
  border: none;
  padding: 0;
}

.edit-popup {
  height: auto;
  min-height: 200px;
  width: 300px;
  right: 100%;
  background-color: #292341;
  padding: 6px;
  border-radius: 8px;
  z-index: 1;
}

/* media */
@media (min-width: 768px) {
  .sidebar {
    width: 500px;
  }
}
